

  main {
    box-sizing: border-box;
    
    width: 85vw;
    height: 70vh;
    display: flex;
    align-items: center;
}

section {
    font-size: 20px;
    font-family: Tahoma;
    margin-left: 30vw;
}

button {
    font-size: 20px;
    font-family: Tahoma;
}

@media screen {
    
}